<%= form_with model: @recreation, url: user_registration_path, class: 'recreation-post', local: true do |f| %>
  
<div class='rec-form-main'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      レクリエーション新規投稿
    </h1>
  </div>

  <%# <%= render "devise/shared/error_messages", model: f.object %> 
  <div class = 'form-group'>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">レクリエーションのジャンル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :genre_tag, class:"input-form", id:"nickname", placeholder:"例) 運動", maxlength:"40" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">レクリエーションタイトル</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"input-form", id:"title", placeholder:"例)風船バレー", maxlength:"40" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">レクリエーション説明</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :explanation, class:"input-form", id:"explanation", placeholder:"例)椅子に座った状態で、手を使い風船をトスしあうゲーム、※注意点、アレンジなどもあればご記入をお願いします", autofocus: true %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">準備物(道具・材料など)</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :posture, class:"input-form", id:"posture", placeholder:"例)風船" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">場所</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :place, class:"input-form", id:"place", placeholder:"例)室内" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">姿勢</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :posture, class:"input-form", id:"posture", placeholder:"例) 立位、座位、どちらでも可など", maxlength:"40" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">職員人数</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :staff_number, class:"input-form", id:"staff_number", placeholder:"例)3名", maxlength:"40" %>
    </div>
    <div class="rec-form">
      <div class='rec-form-text'>
        <label class="rec-form-text">ご利用者様人数</label>
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :care_number, class:"input-form", id:"care_number", placeholder:"例)5名", maxlength:"40" %>
    </div>
    <div class="img-upload">
      <div class="rec-form-text">
        レクリエーション画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"rec-image" %>
      </div>
    </div>
  </div>

  <div class='new-rec-btn'>
    <%= f.submit "新規投稿" ,class:"new-red-btn" %>
  </div>

</div> 

<% end %>

